.formcorp{
    position: absolute;
    left: 50px;
    bottom: 250px;
    width: 500px;
}
.tableform{
    position: absolute;
    left: 600px;
    bottom: 250px;
    width: 650px;
}
#searchbar{
    width: 500px;
}
.container-table{
    display: flex;
    justify-content: center;
}
.container-button{
    display: flex;
    justify-content: center;
}